ul#menu {
    position: absolute;
    left: 80px;
    top: 0px;
}

li.menuItem {
    display: inline;
}

li.menuItem button {
    width: 60px;
    height: 50px;
}

ul#menu li.active button {
    background-color: blue;
    color: white;
}